project3/Project3Task1Client/xml-resources/web-service-references/Project3Task1WebService/wsdl/localhost_8080/Project3Task1Server/Project3Task1WebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://edu.cmu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://edu.cmu/" name="Project3Task1WebService">
<types>
<xsd:schema>
<xsd:import namespace="http://edu.cmu/" schemaLocation="http://localhost:8080/Project3Task1Server/Project3Task1WebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getIsValid">
<part name="parameters" element="tns:getIsValid"/>
</message>
<message name="getIsValidResponse">
<part name="parameters" element="tns:getIsValidResponse"/>
</message>
<message name="inputOne">
<part name="parameters" element="tns:inputOne"/>
</message>
<message name="inputOneResponse">
<part name="parameters" element="tns:inputOneResponse"/>
</message>
<message name="inputTwoTime">
<part name="parameters" element="tns:inputTwoTime"/>
</message>
<message name="inputTwoTimeResponse">
<part name="parameters" element="tns:inputTwoTimeResponse"/>
</message>
<message name="getString">
<part name="parameters" element="tns:getString"/>
</message>
<message name="getStringResponse">
<part name="parameters" element="tns:getStringResponse"/>
</message>
<portType name="Project3Task1WebService">
<operation name="getIsValid">
<input wsam:Action="http://edu.cmu/Project3Task1WebService/getIsValidRequest" message="tns:getIsValid"/>
<output wsam:Action="http://edu.cmu/Project3Task1WebService/getIsValidResponse" message="tns:getIsValidResponse"/>
</operation>
<operation name="inputOne">
<input wsam:Action="http://edu.cmu/Project3Task1WebService/inputOneRequest" message="tns:inputOne"/>
<output wsam:Action="http://edu.cmu/Project3Task1WebService/inputOneResponse" message="tns:inputOneResponse"/>
</operation>
<operation name="inputTwoTime">
<input wsam:Action="http://edu.cmu/Project3Task1WebService/inputTwoTimeRequest" message="tns:inputTwoTime"/>
<output wsam:Action="http://edu.cmu/Project3Task1WebService/inputTwoTimeResponse" message="tns:inputTwoTimeResponse"/>
</operation>
<operation name="getString">
<input wsam:Action="http://edu.cmu/Project3Task1WebService/getStringRequest" message="tns:getString"/>
<output wsam:Action="http://edu.cmu/Project3Task1WebService/getStringResponse" message="tns:getStringResponse"/>
</operation>
</portType>
<binding name="Project3Task1WebServicePortBinding" type="tns:Project3Task1WebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getIsValid">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="inputOne">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="inputTwoTime">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getString">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Project3Task1WebService">
<port name="Project3Task1WebServicePort" binding="tns:Project3Task1WebServicePortBinding">
<soap:address location="http://localhost:8080/Project3Task1Server/Project3Task1WebService"/>
</port>
</service>
</definitions>