project3/Project3Task1Client/xml-resources/web-service-references/Project3Task1WebService/wsdl/localhost_8080/Project3Task1Server/Project3Task1WebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://edu.cmu/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://edu.cmu/">

<xs:element name="getIsValid" type="tns:getIsValid"/>

<xs:element name="getIsValidResponse" type="tns:getIsValidResponse"/>

<xs:element name="getString" type="tns:getString"/>

<xs:element name="getStringResponse" type="tns:getStringResponse"/>

<xs:element name="inputOne" type="tns:inputOne"/>

<xs:element name="inputOneResponse" type="tns:inputOneResponse"/>

<xs:element name="inputTwoTime" type="tns:inputTwoTime"/>

<xs:element name="inputTwoTimeResponse" type="tns:inputTwoTimeResponse"/>

<xs:complexType name="inputTwoTime">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="inputTwoTimeResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getIsValid">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getIsValidResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getString">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getStringResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inputOne">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inputOneResponse">
<xs:sequence>
<xs:element name="return" type="xs:long"/>
</xs:sequence>
</xs:complexType>
</xs:schema>